body {
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

img.equation {
	/* Note that you need both the display: and margin: to get the image to be centered. */
	display: block;
	margin: auto;
}

img.plot {
	display: block;
	margin: auto;
}

img.large {
	width: 50%;
}